<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Voice Recognition Page</title>
</head>
<body>
<h1>Voice Recognition Page</h1>
<form action="/recognize" method="POST" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="audio" accept="audio/*" capture>
    <input type="submit" value="Recognize">
</form>
<div id="results"></div>

<script>
    /*function uploadFile() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        console.log(file)
        console.log('file')

        if (file) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var fileData = event.target.result.split(',')[1]; // Extract base64 data
                // send data in base 64
                var base65Data = base64ArrayBuffer(fileData);
                sendRequest(base65Data);
            };
            reader.readAsDataURL(file);
        } else {
            alert('Please choose a file to upload.');
        }
    }*/

    function uploadFile() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];

        if (file) {
            parseAudioToBase64(file)
                .then(base64Data => {
                    sendRequest(base64Data);
                })
                .catch(error => {
                    console.error(error);
                });
        } else {
            alert('Please choose a file to upload.');
        }
    }

    function sendRequest(fileData) {
        var requestData = {
            audio: fileData
        };

        console.log(requestData)

        fetch('/recognize', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        })
            .then(response => response.text())
            .then(data => {
                document.getElementById('results').innerText = data;
            })
            .catch(error => {
                // Handle error
            });
    }

    function parseAudioToBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();

            reader.onload = () => {
                const base64Data = reader.result.split(',')[1];
                resolve(base64Data);
            };

            reader.onerror = error => {
                reject(error);
            };

            reader.readAsDataURL(file);
        });
    }

    function base64ArrayBuffer(fileData) {
        var binaryString = window.atob(fileData);
        var binaryLen = binaryString.length;
        var bytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
            var ascii = binaryString.charCodeAt(i);
            bytes[i] = ascii;
        }
        return bytes;
    }

    document.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault();
            uploadFile();
            /*var form = event.target;
            var formData = new FormData(form);

            // send data in base 64
            var reader = new FileReader();
            console.log(formData)
            reader.onload = function (event) {
                var base64 = event.target.result.split(',')[1];
                formData.append('audio', base64);
                sendRequest(base64);
                fetch('/recognize', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('results').innerText = data;
                    });
            };*/
        }
    );
</script>

</body>
</html>
